.field {
	width: 100%;
}

.field--select {
	position: relative;
	&::after {
		content: "";
		width: 12px;
		height: 12px;
		position: absolute;
		background-image: url("../img/arrow-down-brown.svg");
		background-repeat: no-repeat;
		background-position: center;
		top: 15px;
		right: 20px;
	}
}

.field__text,
.field__textarea {
	display: block;
	width: 100%;
	min-height: 46px;
	padding: 12px 20px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	font-family: $base-font;
	font-size: 14px;
	line-height: 1;
	color: #888;
	resize: none;
}

.field__select {
	display: block;
	width: 100%;
	padding: 12px 20px;
	min-height: 46px;
	padding: 12px 20px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	font-family: $base-font;
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	color: #2c2c2c;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:  none;
}

select::-ms-expand {
	display: none;
}



