.field__text {
	display: block;
	width: 100%;
	min-height: 46px;
	padding: 12px 20px;
	background-color: #fff;
  border: 1px solid #e3e3e3;
  font-family: $base-font;
  font-size: 14px;
  line-height: 1;
  color: #888;
}


