.form__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.form__field {
	width: 100%;

	&--half {
		width: calc(50% - 10px);
	}

	&--half:first-child {
		margin-right: 10px;
	}
}

