.recomend {
	padding-bottom: 60px;
}
.recomnd__slider-wrapper {
	position: relative;
}

.recomend__slider-dots {
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
}

.recomend__item {
	a {
		display: block;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

.recomend .arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	
	&--left {
		left: -80px;
	}

	&--right {
		right: -80px;
	}
}

